<div class="search-div">

    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" color="primary">

        <ng-container matColumnDef="employerId">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.employerId}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="owner">
            <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.owner}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef>Phone number</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef> City</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cityId">
            <mat-header-cell *matHeaderCellDef> City</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city.cityId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef> State</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city.state.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Select employer </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" matTooltip="Select" (click)="select(row)">
                    <mat-icon>done</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>