<div class="search-div">
   
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput (keyup)="applyFilter($event.target.value)"
            placeholder="Search">
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" color="primary">

        <ng-container matColumnDef="jobId">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.jobId}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Select job </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button color="primary" matTooltip="Select" (click)="select(row)">
                        <mat-icon>done</mat-icon>
                    </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


