<mat-dialog-content>
    <mat-toolbar color="primary" class="toolBar">
        <div class="mat-display-5">Application info</div>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="close()" tabIndex="-1">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
    <form [formGroup]="service.form" class="normal-form">

        <div class="controles-container">
            <br>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label> Application date:</mat-label>
                        <input formControlName="date" matInput placeholder="Application date" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Hourly wage:</mat-label>
                        <input formControlName="hourlyWage" matInput placeholder="Hourly wage" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-checkbox formControlName="tips" labelPosition="before" color="primary" disabled>Tips
                    </mat-checkbox>
                </div>
                <div class="col-md-4">
                    <mat-checkbox formControlName="overTime" labelPosition="before" color="primary" disabled>Overtime
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input formControlName="fromDate" matInput
                            placeholder="From date" readonly>
                       
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input formControlName="toDate" matInput placeholder="To Date"
                            readonly>
                       
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <input formControlName="description" matInput placeholder="Description" readonly>
                    </mat-form-field>
                </div>
            </div>
          
            <div class="row">

            </div>
        
            <div class="mat-title">Employer Info:</div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input formControlName="employerName" matInput placeholder="Employer" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="City" readonly>

                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input formControlName="state" matInput placeholder="State" readonly>

                    </mat-form-field>
                </div>
            </div>
            <div class="mat-title">Job Info:</div>
            <div class="row">

                <div class="col-md-4">
                    <mat-form-field>
                        <input formControlName="jobTitle" matInput placeholder="Job title" readonly>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field>
                        <input formControlName="jobDescription" matInput placeholder="Job description" readonly>
                    </mat-form-field>
                </div>
            </div>
  
        </div>
    </form>

</mat-dialog-content>
